<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.sherry.dao.UrlDao">
    <!-- 查询满足条件的链接数量 -->
    <select id="queryUrlCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM url
        <where>
            <if test="longUrl != null">
                long_url = #{longUrl}
            </if>
            <if test="shortUrl != null">
                short_url = #{shortUrl}
            </if>
        </where>
    </select>

    <!-- 存储长、短链接 -->
    <insert id="saveUrl">
        INSERT INTO url(short_url, long_url) VALUES (#{shortUrl}, #{longUrl})
    </insert>

    <select id="queryLongUrlByShort" resultType="java.lang.String">
        SELECT long_url FROM url WHERE short_url = #{short_url}
    </select>

    <!-- 更新短链接长度 -->
    <update id="updateConfig">
        UPDATE config SET `value` = #{value} WHERE `key` = #{key}
    </update>

    <!-- 短链接配置长度 -->
    <select id="getShortUrlConfigLength" resultType="java.lang.Integer">
        SELECT `value` FROM config WHERE `key` = 'short_len'
    </select>


</mapper>